.main {
  max-width: 50vmax;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  &_title {
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.1rem;
  }

  &_paragraph {
    letter-spacing: 0.1rem;
    line-height: 1.2rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgb(50, 50, 50);
  }
}
