.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  background-color: rgb(50, 50, 50);

  &_title {
    color: rgb(97, 218, 251);
    font-weight: 100;
  }
}

.navigation-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.navigation-item {
  padding: 1rem;
  font-size: 1.5rem;
}

.navigation-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: ease-in-out .2s;
  &.active,
  &:hover {
    color: rgb(97, 218, 251);
  }
}
